[project]
localCommands = uploadObject, getVersion, getObject
dbhost = 127.0.0.1
dbport = 13306
slowCommandThreshold = 2
servicehost = localhost:8080

[subscriber]
subscriberid = SUBSCRIBERID
locationid = LOCATIONID
gatewayName = GATEWAYNAME
gatewayServer = 1
uploadPath = /var/www/html/uploads
objectPath = /var/www/html/objects
logoPath = logo.png
appUrl = http://IPADDRESS/corvex.apk
