# set various variables

subscriber=SUBSCRIBERID
location=LOCATIONID
gatewayName=GATEWAYNAME
port=10022
watchdir=/var/www/html/uploads
backendHost=BACKENDHOST
backendPath=BACKENDPATH
frontendHost=FRONTENDHOST
frontendPath=FRONTENDPATH
