[project]
localCommands = uploadObject, getVersion
dbhost = 127.0.0.1
dbport = 13306

[subscriber]
subscriberid = SUBSCRIBERID
locationid = LOCATIONID
gatewayName = GATEWAYNAME
gatewayServer = 1
uploadPath = /var/www/html/uploads
